ENV=dev

APP_SERVICE_NAME=fastapir_practice
APP_HOST=0.0.0.0
APP_PORT=8000
PATH_PREFIX=/api-v1

DATABASE_USERNAME=test_user
DATABASE_PASSWORD=test_password
DATABASE_NAME=test_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_SSL_CERT=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

CACHE_EXPIRE_SECONDS=172800
CACHE_RESET_HOUR=14
CACHE_RESET_MINUTE=11
